version: '3'
services:
  app:
    build:
      context: .
    image: leonardohipolito/node-app:latest
    container_name: app
    tty: true
    volumes:
      - ./app:/usr/app
    networks:
      - node-network
    depends_on:
      - db
  nginx:
    build:
      context: ./nginx
    image: leonardohipolito/nginx:latest
    container_name: nginx
    restart: always
    networks:
      - node-network
    ports:
      - "8080:80"
    depends_on:
      - app
      - db
  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

networks:
  node-network:
    driver: bridge